<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bulma CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!-- Template detail CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>MyPlaylist_detail</title>

    <!-- template Awesome CSS -->
    <link href="/static/assets/css/detail.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Pen+Script&display=swap" rel="stylesheet">
</head>

<script>
    $(document).ready(function () {
        listing();
    });

    function listing() {
        $.ajax({
            type: 'GET',
            url: '/detail/comment?card={{ index }}',
            data: {},
            success: function (response) {
                let rows = response['comments']

                for (let i = 0; i < rows.length; i++) {
                    let comment = rows[i]['comment']
                    let name = rows[i]['name']

                    let temp_html = `<tr><td>${name}</td>
                                     <td>${comment}</td></tr>`
                    $('#order_box').append(temp_html)
                }
            }
        })
    }

    function posting() {
        let name = $('#name').val()
        let comment = $('#comment').val()
        {#let one_card = ${'#one_card').val()#}

        $.ajax({
            type: 'POST',
            url: '/detail/comment',
            data: {name_give: name, comment_give: comment, card_id_give:{{index}}},
            success: function (response) {
                alert(response['msg'])
                window.location.reload()
            }
        });
    }

    function open_box() {
        $('#post-box').show()
    }

    function close_box() {
        $('#post-box').hide()
    }

</script>

<body>
<section>
    {#로고#}
    <div class="navbar-brand">
        <div class="navbar-item">
            <p class="title is-1" onclick='window.location.href = "/"'>MyPlaylist</p>
        </div>
    </div>
</section>
<hr class="rounded">
<section>
    {#index에서 가져오는 카드#}
    <div class="mycard" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-4" id="img-body">
                {#index에서 가져오는 카드 이미지#}
                <img src="{{ img }}" class="img-fluid rounded-start" alt="..."></div>
        <div class="col-md-8">
            {#index에서 가져오는 카드 내용#}
            <div class="card-body" id="card-body">
                <h2 class="card-title" >{{ title }}</h2>
                <p class="card-text"><small class="text-muted-1">{{singer}}</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small
                        class="text-muted-2">{{genre}}</small></p>
                <p class="card-text2">{{ comment }}</p>
                </div>
                <div class="button-body">
                    {#생성하는 코멘트 버튼#}
                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" onclick="open_box()" class="btn-check" id="btncheck1" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck1">Comment</label>
                        <input type="checkbox" onclick="close_box()" class="btn-check" id="btncheck2" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btncheck2">Close</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="allPost" id="post-box">
        {#생성하는 이름,코멘트#}
        <div class="mypost">
            <input type="text" class="nicName" placeholder="Nic name" aria-label="Nic name" id="name">
            <input type="text" class="comment" placeholder="Comment" aria-label="Comment" id="comment">
            <button onclick="posting()" type="button" class="btn btn-outline-dark">post</button>
        </div>
    </div>
</section>
<section>
    <table class="table">
        <thead>
            {#생성된 코멘트 테이블#}
            <tr>
                <th scope="col">Nic name</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody id="order_box">
            {#생성된 이름,코멘트 테이블#}
            <tr>
                <td>아이들 팬</td>
                <td>노래 너무 좋아요! 화이팅!!</td>
            </tr>
        </tbody>
    </table>
</section>
</body>
</html>
